services:
  web:
    image: docker.io/journey1019/depromeet-team3:latest
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_KAKAO_CLIENT_ID: ${NEXT_PUBLIC_KAKAO_CLIENT_ID}
      NEXT_PUBLIC_KAKAO_REDIRECT_URL: ${NEXT_PUBLIC_KAKAO_REDIRECT_URL}
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
      NEXT_PUBLIC_KAKAO_APP_KEY: ${NEXT_PUBLIC_KAKAO_APP_KEY}
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'wget -qO- http://127.0.0.1:3000/ >/dev/null 2>&1 || exit 1']
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
